.Font {
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-left: 30px;
    font-size: 30px;
    color: #3b3a36 !important;
}

.NavBar {
    background-color:  #949191 !important;
}

